@media all and(max-width: 1300px) {
    
}


@media all and (max-width: 1220px) {
    .header-block,.photo{
        width: 100%;  

    }
    
  
}


@media all and(max-width:991px) {
    .header-block,.photo,.footer-block{
        width: 100%;
    
    }
}

@media all and (max-width: 850px) {
    .header-block,.photo,.footer-block{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        
    }
    
    
}
@media all and (max-width: 597px) {
    .header-block,.photo,.biography,.footer-block {
    width: 100%;
    flex-direction: column;
       
}
.biography{
    height: 400px;
}
.beayti{
    text-align: center;
}


}
@media all and (max-width: 370px) {
    .header-block,.photo,.biography,.footer-block{
    width: 100%;
    flex-direction: column; 
    bottom: 30px;    
}
.biography{
    height: 800px;
}
.beayti{
    text-align: center;
}

}