*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

.container{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.header-block{
    width: 50%;
    
}
.img{
    padding: 15px;
    gap: 15px;
}
.img img{
    width: 32px;
    height: 32px;   
}
.history{
    color: white;
    text-align: center;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    color: white;
}
h2{
    color: white;
    font-size: 40px;
    text-align: center;
    margin: 50px;
    padding:0 50px;
}
.images img{
    width: 755px;
    height: 500px;
}
button{
    margin:5px;
    padding: 15px;
    height: 40px;
    width: 120px;
    background-color:white;
}
.history{
    margin:50px;  
}
button a{
    color:black;
    text-decoration: none;
}
button a:hover{
    color:white;
}
.red:hover{
    background-color:red;
}
.blue:hover{
    background-color: blue;
    color: white;
}